﻿@page "/Inventarier"
@using BlazorInventoryDemo.Shared
@using System.Collections.Generic
@inject HttpClient Http

<h1>Inventarier</h1>

@if (inventarier == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Namn</th>
                <th>Anskaffningsdatum</th>
                <th>Kommentar</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var inventarie in inventarier)
            {
                <tr>
                    <td>@inventarie.Namn</td>
                    <td>@inventarie.Anskaffningsdatum.ToShortDateString()</td>
                    <td>@inventarie.Kommentar</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    IList<InventarieDto> inventarier;

    protected override async Task OnInitializedAsync()
    {
        inventarier = await Http.GetJsonAsync<IList<InventarieDto>>("Inventarie");
    }

}
