﻿@page "/NyInventarie"
@using BlazorInventoryDemo.Shared
@inject HttpClient Http

<h1>Ny inventarie</h1>

<EditForm Model="@inventarie" OnValidSubmit="@Spara">

    <table class="table">
        <tbody>
            <tr>
                <td>Namn</td>
                <td><InputText id="namn" @bind-Value="@inventarie.Namn" /></td>
            </tr>
            <tr>
                <td>Anskaffningsdatum</td>
                <td><InputDate id="anskaffningsdatum" @bind-Value="@inventarie.Anskaffningsdatum" /></td>
            </tr>
            <tr>
                <td>Kommentar</td>
                <td><InputText id="kommentar" @bind-Value="@inventarie.Kommentar" /></td>
            </tr>
        </tbody>
    </table>
    
    <button type="submit">Spara</button>
</EditForm>
@code {
    private InventarieDto inventarie = new InventarieDto{ Anskaffningsdatum=DateTime.Today };

    private async void Spara()
    {
        await Http.PutJsonAsync<InventarieDto>("Inventarie", inventarie);
    }
}
